body {
  background-color: black;
}

h1 {
  text-align: center;
  color: white;
}

p {
  text-align: center;
  color: white;
}

.caixa1 {
  position: relative;
  width: 200px;
  height: 200px;
  background: violet;
  right: 0;
  left: 382;
  bottom: 0;
  text-align: center;
  color: white;
}

.caixa2 {
  position: relative;
  width: 200px;
  height: 200px;
  background: purple;
  right: 0;
  left: 382;
  bottom: 0;
  text-align: center;
  color: white;
}
